.buttonGroup {
  display: flex;
  flex-direction: var(--button-group-direction, row);
  gap: 0;
  --pill-radius: 9999px;
  --rounded-radius: 0.25rem;
}

.horizontal > button:first-of-type {
  border-right: none;
}

.horizontal > button:last-of-type {
  border-left: none;
}

.horizontal > button:not(:first-of-type):not(:last-of-type) {
  border-left: none;
  border-right: none;
}

.vertical > button:first-of-type {
  border-bottom: none;
}

.vertical > button:last-of-type {
  border-top: none;
}

.vertical > button:not(:first-of-type):not(:last-of-type) {
  border-top: none;
  border-bottom: none;
}

.horizontal.rounded > button:first-of-type {
  border-top-left-radius: var(--rounded-radius);
  border-bottom-left-radius: var(--rounded-radius);
}

.horizontal.rounded > button:last-of-type {
  border-top-right-radius: var(--rounded-radius);
  border-bottom-right-radius: var(--rounded-radius);
}

.vertical.rounded > button:first-of-type {
  border-top-left-radius: var(--rounded-radius);
  border-top-right-radius: var(--rounded-radius);
}

.vertical.rounded > button:last-of-type {
  border-bottom-left-radius: var(--rounded-radius);
  border-bottom-right-radius: var(--rounded-radius);
}

.square > button {
  border-radius: 0;
}

.horizontal.pill > button:first-of-type {
  border-top-left-radius: var(--pill-radius);
  border-bottom-left-radius: var(--pill-radius);
}

.horizontal.pill > button:last-of-type {
  border-top-right-radius: var(--pill-radius);
  border-bottom-right-radius: var(--pill-radius);
}

.vertical.pill > button:first-of-type {
  border-top-left-radius: var(--pill-radius);
  border-top-right-radius: var(--pill-radius);
}

.vertical.pill > button:last-of-type {
  border-bottom-left-radius: var(--pill-radius);
  border-bottom-right-radius: var(--pill-radius);
}

.none > button {
  border-radius: 0;
  border-width: 0;
  border-style: none;
}

.buttonGroup > button {
  padding: var(--button-padding, 0.5rem 1rem);
  font-size: var(--font-size, 1rem);
}

.sm > button {
  --button-padding: 0.25rem 0.5rem;
  --font-size: 0.75rem;
}

.md > button {
  --button-padding: 0.5rem 1rem;
  --font-size: 1rem;
}

.lg > button {
  --button-padding: 0.75rem 1.5rem;
  --font-size: 1.25rem;
}

.horizontal {
  --button-group-direction: row;
}

.horizontal-reverse {
  --button-group-direction: row-reverse;
}

.vertical {
  --button-group-direction: column;
}

.vertical-reverse {
  --button-group-direction: column-reverse;
}
