@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  * {
    @apply antialiased;
  }

  .docs-story {
    container-type: inline-size;
  }
}

#storybook-root {
  border: 50px solid rgba(0, 0, 0, 0.025);
  position: relative;
  container-type: inline-size;
  overflow: hidden;
}
