@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  * {
    @apply antialiased;
  }
}

// CSS Color Variables
:root {
  // Primary
  --primary: #002e68;
  // Secondary
  --secondary: #00b4ff;
  // Accent
  --accent: #f92d64;
  // Heading
  --heading: #151515;
  // Text
  --text: #555;
  // Body
  --body: #fff;
  // Custom Colors
  --custom-1: #4087d9;
  --custom-2: #f84c51;
  --custom-3: #ff8e0b;
  --custom-4: #26d376;
  --custom-5: #a145f0;
  // Social Colors
  --facebook: #3b5998;
  --twitter: #00acee;
  --youtube: #ff0000;
}

@layer components {
  /* .copy h1 {
    @apply text-2xl lg:text-3xl font-bold text-click-blue mb-4;
  } */

  /* .copy * {
    @apply last-of-type:mb-0;
  } 

  .copy h2 {
    @apply text-2xl lg:text-3xl font-bold text-click-blue mb-4;
  }

  .copy p {
    @apply text-base text-click-text mb-4;
  }

  .copy a {
    @apply text-click-orange hover:text-click-blue transition;
  }

  .copy strong {
    @apply font-semibold;
  }

  .copy ul {
    @apply list-disc list-outside mb-4;
  }

  .copy li {
    @apply text-base text-click-text mb-2 ml-6;
  }

  .copy blockquote {
    @apply border-l-[5px]	border-click-orange bg-click-grey p-6 rounded-md mb-sm;
  }

  .copy blockquote p {
    @apply text-click-blue;
  }

  .copy hr {
    @apply my-8;
  }

  .copy img {
    @apply mb-4;
  } */

  .btn {
    @apply rounded bg-[#ffce00] px-4 py-2 font-bold text-[#0c2987] transition hover:bg-[#040d29] hover:text-white;
  }
}
